* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    .taskList {
        width: 50%;
        background-color: #f1f1f1;
        padding: 20px;
        margin: 0 auto;
        position: relative;
        .row {
            display: flex;
            flex-direction: row;
            padding: 10px 0;
            
    
        }
        input {
            margin: 20px 0;
            padding: 10px;
            width: 90%;
        }
        .todo-item {
            width: 100%;
            margin-left: auto;
            text-align: left;
            .completed {
                text-decoration: line-through;
            }
            .notComplete{
                text-decoration: none;
                background-color: none;
            }
            input {
                width: 5%;
                margin: 2px 0 0;

            }
        }
        .btn {
            padding: 10px;
            height: 40px;
            border: none;
            color: #fff;
        }
        .btn-add {
            width: 10%;
            background-color: #188ff8;
        }
        .btn-removeall {
            margin-top: 10px;
            width: 15%;
            background-color: #e7b10f;
            border-radius: 2px;
        }
        .edit-form {
            position: absolute;
            top: 30%;
            width: 500px;
            right: 17%;
            background-color: #ed9d2f;
            height: 200px;
            padding: 20px;
            border-radius: 10px;
            .card-body {
                input {
                    width: 100%;
                }
            }
            .card-footer {
                text-align: right;
                button {
                    background-color: #d7b673;
                    border-radius: 4px;
                }
                .btn-update {
                    background-color: #188ff8;
                    margin-left: 10px;
                }
            }
        }

    }
      
    .remove-item {
        color: red;
        width: 12px;
        cursor: pointer;
    }
    svg {
        width: 12px;
        color: #6a1b9a;
        margin-right: 4px;
    }
    .fade-enter-active,
    .fade-leave-active {
        transition: opacity 0.5s;
    }
    /* .fade-leave-active below version 2.1.8 */
    .fade-enter,
    .fade-leave-to {
        opacity: 0;
    }
    button,input{
        outline: none;
    }
}
